@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto");

body {
  font-family: "Luckiest Guy", cursive;
}

.main-section {
  background-image: url(../images/Reservoir_Dogs_wallpaper-by_scare_crow.jpg);
  background-position-x: -100px;
  height: 100vh;
  padding-top: 70px;
}

.splash-content {
  color: white;
  background-color: rgba(0, 0, 0, 0.952);
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 600px;
  padding: 40px 20px 0 20px;
  border: 2px solid white;
}

.splash-content > h1 {
  font-family: "Luckiest Guy", cursive;
  font-size: 80px;
  color: blanchedalmond;
  text-align: center;
}

.splash-btn {
  font-size: 20px;
  height: 50px;
  padding: 5px;
  margin-top: 100px;
  background-color: red;
}

.splash-btn:hover {
  background-color: black;
}

.label-text {
  color: red;
  font-size: 40px;
}

.survey-section {
  background-image: url(../images/Reservoir_Dogs_wallpaper-by_scare_crow.jpg);
  background-position-x: -100px;
  height: auto;
  padding-top: 70px;
}

.survey-content {
  font-family: "Luckiest Guy", cursive;
  color: white;
  background-color: black;
  width: 100%;
  height: auto;
  padding: 50px;
}

.question {
  color: red;
}

.survey-btn {
  font-size: 20px;
  letter-spacing: 10px;
  background-color: red;
  border: 1px solid red;
}

.survey-btn:hover {
  color: red;
  background-color: white;
  border: 1px solid white;
}
